@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.layout {
  display: flex;
  color: $white;
  min-height: 100vh;
  background: $black300;
  flex-direction: column;
  font-weight: 300;
  font-family: baseFont, serif;

  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  > footer {
    @include container;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    font-family: baseHeadingFont, serif;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  a {
    color: $white;
    transition: color 220ms linear;

    &:hover,
    &:active {
      color: $gray300;
    }
  }

  button {
    border: 0;
    padding: 4px 8px;
    border-radius: 4px;
    background: $white;
    color: $black300;
  }
}

// CHECKED 1.0
