@import "/src/assets/styles/mixins";

.homePage {
  @include container;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 418px;
    max-width: 100%;
    margin-bottom: 24vh;

    h2 {
      font-size: 9.8rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 2.1rem;
    }
  }
}

// CHECKED 1.0
