// add fonts with unique names,
// so the preloading does not effect the displayed ones.
// this blocking happens to the current theme at the switching
// when the same font was loaded by the new.

@font-face {
  font-family: baseFont;
  font-weight: 300;
  src: url("../fonts/lato/latoLight.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: baseFont;
  font-weight: 400;
  src: url("../fonts/lato/latoRegular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: baseHeadingFont;
  font-weight: 400;
  src: url("../fonts/roboto/robotoRegular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: baseHeadingFont;
  font-weight: 500;
  src: url("../fonts/roboto/robotoMedium.ttf") format("truetype");
  font-display: block;
}

// CHECKED 1.0
